asgiref==3.7.2
bandit==1.7.7
black==22.3.0
click==8.0.2
colorama==0.4.6
coverage==7.4.1
Django==4.2.11
djangorestframework-camel-case==1.4.2
djangorestframework==3.14.0
drf-yasg==1.21.7
exceptiongroup==1.2.0
Faker==23.2.1
flake8==4.0.1
inflection==0.5.1
iniconfig==2.0.0
isort==5.12.0
mypy-extensions==1.0.0
packaging==21.0
pathspec==0.11.1
platformdirs==3.8.0
pluggy==1.4.0
psycopg2-binary==2.9.9
pytest-cov==4.1.0
pytest-django==4.5.2
pytest==8.0.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
safety==2.3.5
setuptools==68.1.2
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
django-cors-headers==3.14.0